@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

p {
    line-height: 1.5;
}

section {
    padding: 0 16px;
}

button:hover{
    cursor: pointer;
}

.purple {
    color: #6415ff;
}

.btn {
    color: white;
    padding: 14px 32px;
    border-radius: 50px;
    background-color: #6415ff;
    border: none;
    font-weight: 500;
    font-size: 16px;
}

.section__title {
    font-size: 48px;
    color: #35456d;
    margin: 16px 0;
    font-weight: 900;
}

.section__header {
    color: #6415ff;
    font-size: 16px;
    font-weight: 500;
}

.section__para {
    color: rgb(105, 105, 105);
    font-size: 18px;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    padding: 96px 0;
}

/*

NAVIGATION

*/

nav {
    height: 120px;
    display: flex;
    align-items: center;
}

.nav__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__wrapper {
    display: flex;
    align-items: center;
}

.nav__logo {
    max-width: 48px;
    margin-right: 12px;
}

.nav__logo--name {
    font-size: 28px;
    font-weight: 700;
    color: #35456d;
}

.nav__links {
    display: flex;
}

.nav__link{
    color: #35456d;
    margin: 0 24px;
    font-weight: 500;
    font-size: 15px;
}

.nav__link--primary {
    color: white;
    padding: 12px 32px;
    border-radius: 50px;
    background-color: #6415ff;
}

/*

HEADER

*/

.header__wrapper {
    display: flex;
}

.header__description{
    width: 40%;
}

.header__title {
    font-size: 48px;
    opacity: 0.9;
}

.header__para {
    margin: 32px 0;
    font-size: 17px;
}

.header__form {
    border: 2px solid #a8b1bdaf;
    border-radius: 50px;
    width: 100%;
    max-width: 400px;
    margin-bottom: 64px;
}

.header__input {
    border: none;
    font-size: 16px;
    padding: 20px 34px 20px 24px;
    border-radius: 50px;
}


.header__img--wrapper {
    width: 60%;
}

.customer__para {
    color: #a8b1bd;
    font-size: 14px;
    font-weight: 500;
}

.customer__logos {
    width: 100%;
    max-width: 400px;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
}

.customer__logo--img {
    filter: brightness(1.7);
}

/*

FEATURES

*/

.features__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;
}

.services {
    display: flex;
    flex-wrap: wrap;
}

.service {
    display: flex;
    width: 30%;
    padding: 32px 8px;
    margin: 0 16px;
}

.features__description--para {
    text-align: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.service__icon {
    color: #6415ff;
    font-size: 24px;
    padding: 20px;
    border: 1px solid #a8b1bdaf;
    border-radius: 50%;
}

.service__description {
    margin: 8px 0 0 16px;
}

.service__title {
    color: #35456d;
    font-size: 24px;
}

.service__para {
    color: rgb(105, 105, 105);
    font-size: 16px;
    margin-top: 16px;
    width: 100%;
    max-width: 200px;
}

/*

WORK

*/

.work__description {
    width: calc(50% - 64px) ;
    display: flex;
    flex-direction: column;
    padding: 32px 0;
    margin-right: 64px;
}

.work__img--wrapper,
.steps__img--wrapper {
    width: 50%;
    display: flex;
}

.work__img {
    border: 0.5px solid #a8b1bd;
    border-radius: 4px;
    padding: 6px 4px;
}

.section__wrapper{
    display: flex;
}

.section__btn {
    width: 100%;
    max-width: 148px;
    margin-top: 32px;
}

/*

STEPS

*/

.steps__description {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.steps__img--wrapper {
    margin-right: 64px;
}

.step {
    display: flex;
    margin-top: 32px;
    width: 100%;
    max-width: 400px;
}

.step__number {
    font-size: 36px;
    color: #a8b1bd;
}

.step__description {
    margin-left: 24px;
}

.step__title {
    color: #35456d;
    font-weight: 500;
    font-size: 20px;
}

.step__para {
    margin-top: 12px;
    color: rgb(105, 105, 105);
    font-size: 16px;
    font-weight: 400;
}